.featurePng {
  height: 90%;
  width: 90%;
  display: block;
  margin: 1rem auto;
  border-radius: 0.5rem;
}

.cardContainer {
  max-width: 40rem;
  max-height: 25rem;
  background-color: #ffffff;
  border-radius: 0.3rem;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #dceafb;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.cardContainer:hover {
  background-color: #dceafb;
  text-decoration: none;
}

.cardBody {
  color: #000000;
  padding: 1rem 2rem;
}

.cardImage {
  padding-top: 0;
}
