.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
  display: block;
  margin: auto;
}

.featurePng {
  height: 200px;
  width: 400px;
  display: block;
  margin: auto;
}